<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Amazon testing" parallel="tests" thread-count="2">
	<test name="Login Test">
		<classes>
			<class name="tests.LoginTest" />
		</classes>
	</test>
	<listeners>
		<listener class-name="listeners.TestListeners" />
	</listeners>
</suite>